<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>My Entries</title>
    <th:block th:include="fragments/header :: head"/>
</head>
<body>
    <div class="container">
        <th:block th:include="fragments/header :: menu"/>
        <h2 th:text="'Журнал активностей за ' + ${filterDate}"></h2>

`        <table class="table table-striped">
            <tr>
                <th th:text="Активность"></th>
                <th th:text="Комментарий"></th>
                <th th:text="Действия"></th>
            </tr>
            <tr th:each="entry : ${entries}">
                <td th:text="${entry.activity.name}">Активность</td>
                <td th:text="${entry.comment}">Комментарий</td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/entries/edit/'  + entry.id}" th:text="Редактировать"></a></li>
                        <li><a th:href="${'/entries/delete/'+ entry.id}" th:text="Удалить"></a></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th><a th:href="${ '/entries?date=' + filterPrevDate}" th:text="'Предыдущий день'"></a></th>
                <th><a th:href="${ '/entries/new?date=' + filterDate}" th:text="'Создать запись'"></a></th>
                <th><a th:href="${ '/entries?date=' + filterNextDate}" th:text="'Следующий день'"></a></th>
            </tr>
        </table>
    </div>
</body>
</html>