<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>My Entries</title>
    <th:block th:include="fragments/header :: head"/>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/header :: menu"/>
    <h2>Журнал активностей</h2>

    <table class="table table-striped">
        <tr th:each="mapEntry, stat : ${activityEntriesMap}">
            <th:block th:each="entry : ${mapEntry.value}">
                <td th:text="${entry.comment} + ' - ' + ${entry.date}"/>
            </th:block>
        </tr>
    </table>

    <a th:href="${ '/entries/new'}" th:text="'Создать запись'"></a>
    </div>
</body>
</html>