<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>My Activities</title>
    <th:block th:include="fragments/header :: head" />
</head>
<body>
    <div class="container">
        <th:block th:include="fragments/header :: menu" />
        <div class ="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h1>Главная страница моих активностей</h1>
                </div>
            </div>
            <div class="row text-center">
                <p>Здесь просто очень важный текст</p>
                <p>Здесь не просто очень важный текст, а очень преочень важный текст</p>
            </div>
        </div>
    </div>
</body>
</html>